@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
header {
    height: 620px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(199, 131, 6, 0.925);
}
body {
    font-family: 'Prompt', sans-serif;
    margin: 0.1rem;
    margin-top: 0.1rem;
    background-image: linear-gradient(to left, rgba(92, 13, 219, 0.644), rgba(31, 240, 94, 0.938));
}

.intro {
     font-size: larger;
    text-align: center;
    display:block;
    margin-block-start: 3em;
    height: 350px;
    margin-inline-start: 100px;
    margin-inline-end: 500px;
    
}
.welc p {
    font-size: 2em;
    top:50%;
    left:42%;
position: absolute;
    text-align: center; 
     font-family: 'Satisfy', cursive;
     
}

footer {
    text-align: center;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.0rem;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.637);
}
.h1{
    margin-bottom:2px;
}
.welc h1 {
    font-size: 80px;
    top:30%;
    left:30%;
position: absolute;
    text-align: center; 
     font-weight: bold; 
    
    font-family: 'Satisfy', cursive;
}

.hero-image {
    background-image: url("mainimg.jpg");
    height:600px;
    filter: blur(1px);
  -webkit-filter: blur(px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

  } 
  .welc img{
    top:12%;
    left:38%;
    position: absolute;
  }
  @media screen and (min-width: 755px) {
    .welc h1 {
      font-size: 80px;
    }
  }
   @media screen and (max-width: 756px) {
    .welc h1 {
      font-size: 30px;
      top: 40%;
      left: 42%;
    }
  }
  .sidebar{
      display: block;
float: right;
max-width: 300px;
text-align: left;
padding: 0.0rem 1rem;
background-color: rgba(140, 226, 173, 0.856);
  }
  